fontawesome-free-6.6.0-web/* linguist-vendored
fontawesome-free-6.6.0-web/css/* linguist-vendored
font-awesome-pro-5/* linguist-vendored
font-awesome-pro-5/css/* linguist-vendored
dist/* linguist-vendored
public/vendor/* linguist-vendored